*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
}
/* give style to navbar */
nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: blanchedalmond;
    position: sticky;
    z-index: 10;
    padding: 30px;
    top: 0;
    
    
}

a{
    text-decoration: none;
    color: rgb(86, 88, 16);
}


.logo{
    font-family:cursive;
    color: hsl(62, 66%, 40%);
    font-size: xx-large;

}

/* give style to buttons */

button{
    padding: 20px 10px 20px 10px;
    border-radius:60px 20px 60px 60px;
    background-color: rgb(219, 164, 82);
}

/* give style to hero section */

.parallax{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right 35% bottom 45%;
    background-attachment: fixed;
    position: relative;
    color: blanchedalmond;
    

}

.parallax-1{

background-image: url(https://imgs.search.brave.com/dWdxR8Y5b_aP1WCh4-DLKbb4mutKXUwduWEcnvuNjyY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi93ZWIt/ZGV2ZWxvcG1lbnQt/Y29uY2VwdC1tYW4t/aG9sZGluZy10YWJs/ZXQtY29tcHV0ZXIt/d2ViLWRldmVsb3Bt/ZW50LWNvbmNlcHQt/dGFibGV0LWNvbXB1/dGVyLTE2ODU1OTA4/Ny5qcGc);
}

.parallax-2{
    background-image: url(https://imgs.search.brave.com/ccE74uA5VReNjCQNtHy875zrAKLEPY9K_mLJViL5TGo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/c2ltcGxpbGVhcm4u/Y29tL2ljZTkvZnJl/ZV9yZXNvdXJjZXNf/YXJ0aWNsZV90aHVt/Yi9mdWxsX3N0YWNr/X2Jhbm5lci5qcGc);
}


.parallax-3{

    background-image: url(https://imgs.search.brave.com/Adj7_zgUClt9t0b2FvbhWOtuosp_DLFJL679ljery0Q/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9vZGlu/c2Nob29sLTIwMDI5/NzMzLmhzLXNpdGVz/LmNvbS9odWJmcy9C/bG9nJTIwaW1hZ2Ul/MjAoODAwJTIwJUMz/JTk3JTIwMzA3JTIw/cHgpJTIwKDgpLndl/YnA);
}

.parallax-4{
    background-image: url(https://imgs.search.brave.com/7rL4LCO-cDLu2e1rIDgomuFGQ8vX57tDqWF4M745VZ4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/Y3JlYXRlLnZpc3Rh/LmNvbS9hcGkvbWVk/aWEvc21hbGwvMjE2/ODA3Nzkvc3RvY2st/cGhvdG8tY29udGFj/dC11cw);
}
.overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(79, 77, 77, 0.39);

    
}

h2{
    font-size: 10vh;
}

/* style to skills */

.content{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 100px 100px;
    background-color: antiquewhite;

}