*{
    margin: 0%;
    padding:0%;
    scroll-behavior: smooth;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* navbar :start */

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid whitesmoke;
}

.material-icons{

    color: rgb(101, 103, 102);
    font-size: 27px;
    margin: 5px;
    cursor: pointer;
    
}

/* left header start */
.left_header {

    display: flex;
    align-items: center;
    
}

.left_header img {

    object-fit: contain;
    height: 80px;
    margin-left: 5px;
}

.left_header span {

    cursor: pointer;
    padding: 10px;
}



/* left header end */

/* middile header start */

.middle_header{
    display: flex;
    flex: 0.7;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.middle_header input {

    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: transparent;
    font-size: medium;
    
}

/* middile header end */

/* right header start */

.right_header {

    display: flex;
    justify-content:center;
    align-items: center;
    
}

.right_header span{

    cursor: pointer;
    padding: 20px;

}
/* right header end */

/* main content start */

.main_body_content{

    display: flex;
    height: 100vh;

}

body{

    height: 100vh;
    overflow-y: hidden;
}
/* slidbar compose button start  */

.slide_bar {
    justify-content:center;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    background-color: whitesmoke;
}

.slide_compose button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 150px;
    border-radius: 25px;
    background-color: rgba(195, 235, 251, 0.801);
    border: none;
    
}

.slide_compose button span {
    margin: 10px;
    

}

/* slidebar compose button end  */

/* slidebar menu start  */

.slide_menu{
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: rgb(115, 118, 121);


    
}

.slide_menu span {
    display: flex;
    align-items: center;
    margin-right: 5px;

    
}

/* slidebar menu end  */

/* slidebar email list start */


.email_list {
    flex: 1;
    overflow:scroll
}

.email_list_settings{

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    background-color: white;
    

    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.email_list_left{
     display: flex;
     align-items: center;
}

.email_list_right{
     display: flex;
     align-items: center;
}
/* slidebar email list end  */

/* section list start  */

.section_list{

    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 10px;

    cursor: pointer;
    color: rgb(115, 118, 121);
    justify-content: space-between;
    

}

.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
 
}
/* section list end  */

/* main content end  */


/* navbar :end */



